body {
    /* Dark Theme
    background-color: #323232;*/
    
    /* Light Theme */
    height: 100%;
    background-color: white;
}

.row-container {
    height: 100%;
}

.sidebar {
    /* Dark Theme background-color: #111;*/
    /* Light Theme background-color: #f5f3ef;*/

    height: 100vh;
    background-image: linear-gradient(to top right, #1d1e22, #393f4d);
    /*background-image: linear-gradient(to top right, #292a30, #5c5c63);*/
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    font-size: 20px;
    color: #818181;
    display: block;
    border-bottom: 2px solid #595959;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.sidebar p {
    padding-top: 8px;
    font-size: 15px;
    color: #818181;
}

.description{ 
    background-color: #f6f6f6;
    margin-top: 15px;
    overflow: auto;
}

.player-container{
    width:100%;
    height:80vh;
}

#player {
    position: relative;
    height: 100%;
}

.content {
    width:100%;
    margin-bottom: 35px;
}

a.disabled {
    pointer-events: none;
    cursor: default;
    color: #f1f1f1; 
}